#a9, #a10 {
  animation: none;
}

#a21 > path:nth-child(3) {
  transform-origin: center center;
  animation: cig-smoke 500ms ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.eyes {
  transform-origin: 50% 75%;
}