/** renderer fix **/
#content-wrapper {
  display: block !important;
}

.glasses.red-light,
.glasses.chikin-little {
  animation: none;
}
.football-helmet {
  transform-origin: center center;
  animation: shake 1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.poke-ball {
  transform-origin: center center;
  animation: floating 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.elder-wand > g:last-child,
.elder-wand > path {
    transform-origin: center center;
    animation: cig-smoke 500ms ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.carnage {
  animation: crawl-up 5s ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 50% 85%;
}
.carnage g:nth-child(2) { /* eyes */
    transform-origin: 50% 70%;
    animation: blink 1s step-end;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.carnage g:nth-child(4) { /* tentacles */
    transform-origin: center center;
    animation: wind-blow-left 500ms linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.cape,
.mouth.tongue > g {
  transform-origin: center center;
  animation: wind-blow-left 0.1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hat.hendrix > g,
.hat.joplin {
  transform-origin: center center;
  animation: wind-blow-left-mild 0.1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.body.cookie-monster path:nth-child(4),
.accessory.fur,
.hat.leaf {
  transform-origin: center center;
  animation: wind-blow-left 0.3s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.accessory.flame,
.accessory.bamboo_leaf {
  transform-origin: center center;
  animation: wind-blow-left-mild 0.2s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.face.whiskers {
  animation: wind-blow-left-mild alternate 1s infinite linear;
  transform-origin: center center;
}

.accessory.glow,
.accessory.radiation {
  animation: cig-glow 0.5s alternate infinite linear;
}

.accessory.gm-smoke {
  animation: floating 2s ease-in-out alternate-reverse infinite; 
}

/** floaters **/
#eggfam-45 > .entity > * { 
  transform-origin: center center;
  animation: floating 2.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; 
}

.hat.yolk {
  animation: wind-blow-left-mild 0.1s linear alternate infinite;
  transform-origin: center;
}

@keyframes broom-sweep {
  0% { transform: rotateZ(0deg); }
  25% { transform: rotateZ(25deg); }
  35% { transform: rotateZ(-45deg); }
  50% { transform: rotateZ(0deg); }
}
@keyframes broom-sweep-dust {
  0% { transform: translateX(-2px); opacity: 0; }
  29% { opacity: 0; }
  32% { transform: translateX(-2px); opacity: 1; }
  70% { transform: translateX(0px); }
  100% { opacity: 0; }
}
.accessory.broom > g:first-child * {
  transform-origin: 25% 50%;
  animation: broom-sweep 2s ease-in infinite;
}
.accessory.broom > *:last-child {
  transform-origin: 25% 50%;
  opacity: 0;
  animation: broom-sweep-dust 2s ease-out infinite;
}

@keyframes glow-low {
  from { fill-opacity: 0.4; }
  to { fill-opacity: 0.12; }
}
.accessory.ring {
  animation: wind-blow-left-mild 0.5s linear alternate infinite;
  transform-origin: center;
}
.accessory.ring > path:nth-child(2) {
  animation: glow-low 1s linear alternate infinite;
}